.hero {
  header {
    // display: flex;
    // justify-content: space-between;
    position: relative;
  }

  &__left-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    margin: 0px 0px 0px 50px;

    img {
      min-width: 35px;
    }
  }

  // .hero__right-header

  &__right-header {
    transition: all 0.4s;
    animation: 1s opacity;

    input {
      transition: all 1s;
    }

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/loop.png");
      background-size: contain;
      width: 25px;
      height: 25px;
      top: 31px;
      right: 40px;
    }

    font-family: Roboto,
    sans-serif;
    text-transform: uppercase;
    display: flex;
    position: relative;

    input {
      transition: all 1s;

      align-self: center;
      height: calc(100%);
      background-color: $orange;
      color: $white;
      outline: none;
      padding: 34px;
      border: 0;
      font-weight: bold;
      letter-spacing: 1px;
      font-size: 14px;
      width: 340px;
      max-width: 340px;
      position: relative;
    }

    input::placeholder {
      color: $white;
      letter-spacing: 3px;
    }

    ul {
      display: inline-flex;
      align-self: center;
      margin-right: -50px;
    }

    li {
      font-weight: bold;
      font-size: 14px;
      color: $smoke;
      letter-spacing: 2.66px;
      margin-right: 80px;
      transition: 0.4s;
    }

    li:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }
}

.film-logo {
  font-family: Roboto, sans-serif;
  margin-left: 20px;

  h1 {
    text-transform: uppercase;
    color: $smoke;
    font-weight: bold;
    font-size: 18px;
  }

  p {
    text-transform: uppercase;
    color: $smoke;
    font-weight: normal;
    letter-spacing: 1.76px;
    font-size: 11px;
  }
}

.hero__timer {
  background-color: $smoke;
  color: $white;
  text-align: center;
  padding: 8px 0;

  h1 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3.04px;
    opacity: 0.8;
    font-size: 12px;
    font-weight: 500;
    display: inline;
  }
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header__body {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.hero__burger {
  display: none;
}

.hero__burger span {
  transition: all .4s ease 0s;
}

@media screen and (max-width: 1365px) {
  .hero__right-header {
    li {
      margin-right: 20px;
    }

    ul {
      margin-right: 40px;
    }

    input {
      width: 140px;
      max-width: 140px;
    }

    &::after {
      display: none;
    }
  }
}

@media screen and (max-width: 966px) {
  .hero__right-header {
    padding-bottom: 20px;

    input {
      display: none;
    }

    ul {
      padding-top: 15px;
    }
  }
}

@media screen and (max-width: 820px) {
  body.lock {
    overflow: hidden;
  }

  .hero__right-header {
    display: none;
  }

  .hero__right-header-active {
    position: fixed;
    z-index: 99;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $white;
    display: flex;

    ul {
      flex-direction: column;
      margin: auto;
      padding-top: 90px;
    }

    li {
      margin: 0 0 40px 0;
    }
  }

  header {
    padding-bottom: 30px;
    padding-top: 20px;
  }

  .hero__burger {
    display: block;
    position: absolute;
    z-index: 100;
    width: 60px;
    height: 30px;
    top: 7px;
    right: 39px;
  }

  .hero__burger:before,
  .hero__burger:after {
    content: "";
    background-color: $smoke;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    transition: all .4s ease 0s;
  }

  .hero__burger:before {
    top: 0;
  }

  .hero__burger:after {
    bottom: 0;
  }

  .hero__burger {
    cursor: pointer;
    transition: .4s;

    span {
      position: absolute;
      background-color: $smoke;
      left: 0;
      width: 100%;
      height: 4px;
      top: 14px;
    }
  }

  .hero__burger.active:before {
    transform: rotate(45deg);
    top: 17px;
  }

  .hero__burger.active span {
    transform: scale(0);
  }

  .hero__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
}

@media (max-width: 390px) {
  .film-logo {
    h1 {
      font-size: 10px;
    }

    p {
      display: none;
    }
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hideanim {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.header-wrapp {
  visibility: visible;
  opacity: 1;
  transition: 0.4s;
}